body {
    margin : 0;
    font-family : sans-serif;
}
.header {
    background-color : #1a2e35;
    display : flex;
    justify-content : center;
}
h1 {
    text-transform : uppercase;
    font-weight : 750;
}
.navBar {
    float : left;
    list-style : none;
    display : inline;
}
.navBarText {
    display : block;
    color : white;
    text-align : center;
    padding : 25px 16px;
    text-decoration : none;
}
.navBarText:hover {
    color : #1cbbb4;
}
.special_nadpis {
    text-decoration-line : underline;
}
.footer {
    background-color : #1a2e35;
}
.about {
    display : flex;
    justify-content : center;
    align-items : center;
    text-align : center;
    flex-direction : column;
}
.about .image {
    display : block;
    margin : 0 auto;
    max-width : 100%;
    height : auto;
}
.image {
    max-width : 100%;
    height : auto;
    display : block;
}
.mainText {
    margin-right : 25%;
    margin-left : 25%;
}
.aboutText {
    margin-left : 25%;
    margin-right : 25%;
}
.category {
    background-color : #1cbbb4;
    color : white;
}
.category_header {
    text-align : center;
}
.image_box {
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    text-align : center;
}
.btn {
    background-color : #ff4f5a;
    border-radius : 10px;
    display : flex;
    justify-content : center;
    align-items : center;
    font-weight : 600;
    width : 200px;
    height : 50px;
    margin-bottom : 50px;
}
.btn a {
    color : white;
    text-decoration : none;
}
.category_image_box {
    grid-template-columns : 1fr;
    grid-template-rows : repeat(6,auto);
    gap : 10px;
    display : grid;
    justify-items : center;
}
.image_box_text {
    font-size : 2rem;
}
.footer {
    color : white;
}
.footerLogo {
    display : flex;
    justify-content : center;
    margin-top : 50px;
}
.linksLinks a {
    color : inherit;
    text-decoration : none;
    list-style : none;
}
.linksLinks a:hover {
    color : #1cbbb4;
}
.footerNonImages {
    display : flex;
    justify-content : space-between;
    margin-left : 20%;
    margin-right : 20%;
    margin-bottom : 50px;
    gap : 10px;
    flex-wrap : wrap;
}
.footerText {
    text-align : left;
}
.copyright {
    text-align : center;
    margin-top : 10px;
}
.grid-layout .header {
    grid-area : header;
}
.grid-layout .sidebar {
    grid-area : sidebar;
}
.grid-layout .main {
    grid-area : main;
}
.grid-layout .footer {
    grid-area : footer;
}
.grid-layout .copyright {
    grid-area : copyright;
}
.grid-layout.container {
    display : grid;
    grid-template-rows : auto auto auto auto auto;
    grid-template-areas : "header" "sidebar" "main" "footer" "copyright";
}
@media (min-width: 720px) {
    .grid-layout.container {
        grid-template-rows : auto auto auto auto;
        grid-template-areas : "header header" "sidebar main" "footer footer" "copyright copyright";
    }
    .category_image_box {
        grid-template-columns : repeat(2,1fr);
        grid-template-rows : repeat(3,auto);
    }
    .footerNonImages {
        justify-content : center;
    }
}
@media (min-width: 1020px) {
    .grid-layout.container {
        grid-template-rows : auto auto auto auto;
        grid-template-areas : "header header header" "sidebar main main" "footer footer footer" "copyright copyright copyright";
    }
    .category_image_box {
        grid-template-columns : repeat(3,1fr);
        grid-template-rows : repeat(2,auto);
    }
}
.grid-layout.container.no-sidebar {
    grid-template-areas : "header" "main" "footer" "copyright";
}
@media (min-width: 720px) {
    .grid-layout.container.no-sidebar {
        grid-template-areas : "header header" "main main" "footer footer" "copyright copyright";
    }
}
@media (min-width: 1020px) {
    .grid-layout.container.no-sidebar {
        grid-template-areas : "header header header" "main main main" "footer footer footer" "copyright copyright copyright";
    }
}